
server:
  # Local fallback port (only used if config is not loaded)
  port: 8082

spring:
  application:
    # Service Name: MUST match the filename in your Git config repo
    name: notification-ws-gateway
  
  # Configuration Client Setup (High Priority)
  config:
    # URL of your Config Server
    import: optional:configserver:http://localhost:8888

    activate:
      on-profile: dev 
  

  


eureka:
  client:

    service-url:
      defaultZone: http://localhost:8761/eureka/
    # The WS Gateway must register itself
    register-with-eureka: true 

    fetch-registry: false 
  instance:
    # Use the application name as the hostname
    hostname: ${spring.application.name} 
    # Prefer IP address to avoid DNS issues
    prefer-ip-address: false

